.sidebar-legel-links {
    background: rgba(250, 250, 250, 0.466);
    box-sizing: border-box;
    padding: 0 16px;
    height: auto;
}

.sidebar-legel-links li {
    box-sizing: border-box;
    list-style: none;
    text-align: left;
    font-weight: 500;
    display: block;
    padding: 0 12px;
    color: rgb(121, 121, 121);
}

.sidebar-legel-links li a {
    text-decoration: none;
}

.sidebar-legel-links li a:hover {
    color: black;
}

.sidebar-legel-links li:hover {
    background: rgba(238, 238, 238, 0.972);
}